* {
    border: 1px solid red;
}

@font-face {
    font-family: Roboto;
    src: url(https://fonts.google.com/specimen/Roboto);
}

body {
    font-family: Roboto;
}

.background {
    z-index: -1;
    width: 105%;
}

.centered {
    z-index: 1;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 110px;
    width: 70%;
    font-weight: lighter;
    text-align: center;
}

.class-item {
    padding-right: 40px;
}

